@page "/"
@inject GamesClient GamesClient

<PageTitle>Web Api Learning - Game Store</PageTitle>

<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/editgame">New Game</a>
</div>

@if (_games is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-dark table-hover mt-3">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th class="text-end">Price</th>
        <th>Release Date</th>
        <th/>
        </thead>
        <tbody>
        @foreach (var game in _games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td class="text-end">@game.Price.ToString("C2")</td>
                <td>@game.ReleaseDate</td>
                <td>
                    <div>
                        <a class="btn btn-primary me-2" role="button" href="@GameUrl(game.Id)">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code{

    private GameSummary[]? _games;

    protected override async Task OnInitializedAsync()
    {
        _games = await GamesClient.GetGamesAsync();
    }

    private static string GameUrl(string id) => $"/editgame/{id}";
}